@{
    ViewData["Title"] = "List of operations";
}

@model List<Operations>

<h1>Транзакції</h1>
<div class="content-wrapper">
    <select class="select-general-style select-category">
        <option value="" selected disabled>Оберіть зі списку</option>
        @foreach (var category in ViewBag.Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </select>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Категорія</th>
                <th>Тип операції</th>
                <th>Сума</th>
                <th>Дата</th>
                <th>Опис</th>
                <th>Управління</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var operation in Model)
            {
                <tr>
                    <td>@operation.Id</td>
                    <td>@operation.Category.Name</td>
                    <td>@operation.OperationType</td>
                    <td>@operation.Amount</td>
                    <td>@operation.Date.ToShortDateString()</td>
                    <td>@operation.Description</td>
                    <td>
                        <button class="table-btn edit-btn" asp-action="CreateAndUpdate" asp-route-id="@operation.Id">Редагувати</button> |
                        <button class="table-btn delete-btn" asp-action="Delete" asp-route-id="@operation.Id">Видалити</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<button class="related-to-database-btn" asp-action="CreateAndUpdate">Додати нову транзакцію</button>