@{
    ViewData["Title"] = "List of operations";
}

@model List<Babules.Models.Operations>

<h1>Транзакції</h1>
<div class="content-wrapper">
    <select class="select-general-style select-category">
        @if (ViewData["Categories"] != null)
        {
            var categories = ViewData["Categories"] as List<Babules.Models.Category>;
            <option value="0">Без фільтру</option>
            @foreach (var category in categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        }
        else
        {
            <option value="0">Без фільтру</option>
        }
    </select>
    <table>
        <thead>
            <tr>
                <th>№</th>
                <th>Категорія</th>
                <th>Тип операції</th>
                <th>Сума</th>
                <th>Дата</th>
                <th>Опис</th>
                <th>Управління</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var operation in Model)
                {
                    <tr>
                        <td>@operation.Id</td>
                        <td>@operation.Category.Name</td>
                        <td>@operation.OperationType</td>
                        <td>@operation.Amount</td>
                        <td>@operation.TransactionDate.ToShortDateString()</td>
                        <td>@operation.Description</td>
                        <td>
                            <a class="table-btn edit-btn" asp-action="CreateAndUpdate" asp-route-id="@operation.Id"></a>
                            <form method="post" asp-action="Delete" asp-controller="Activities" asp-route-id="@operation.Id" onsubmit="return confirm('Ви впевнені, що хочете видалити цю категорію?')">
                                <button type="submit" class="table-btn delete-btn"></button>
                            </form>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>Id</td>
                    <td>Category.Name</td>
                    <td>OperationType</td>
                    <td>Amount</td>
                    <td>TransactionDate</td>
                    <td>Description</td>
                    <td>
                        <button class="table-btn edit-btn"></button>
                        <button class="table-btn delete-btn"></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<a class="related-to-database-btn add-operations-btn" asp-controller="Activities" asp-action="CreateAndUpdate">Додати нову транзакцію</a>